@{
    ViewData["Title"] = "Register";
}

@model cp2___.net.Models.User

<h2 style="text-align: center;">Cadastro de Usuário</h2>

<div class="form-container">
    <form asp-action="Register" method="post">
        <div class="form-group">
            <label asp-for="Name">Nome</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName">Sobrenome</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password">Senha</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfPassword">Confirmação de Senha</label>
            <input asp-for="ConfPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Phone">Telefone</label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>

<style>
    .form-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .form-group input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .form-group input[type="submit"]:hover {
                background-color: #0056b3;
            }

    .text-danger {
        color: #dc3545;
        font-size: 12px;
    }

    .text-success {
        color: #28a745;
        font-size: 14px;
    }
</style>
